
<div class="bg-white">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-4 col-xl-3 px-sm-3 px-0 .bg-white">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-dark min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <span class=" menu d-none d-sm-inline ">OUTCOMES</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link text-dark align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class=" d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li [routerLink]="['/maxCDR']">
                        <a href="#" class="nav-link text-dark align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class=" d-none d-sm-inline">Giới hạn</span>
                        </a>
                    </li>
                    <li >
                        <a [routerLink]="['/point']" href="#" class="nav-link text-dark px-0 align-middle min-w" style="min-width: 86px;">
                            <i class="fs-4 bi-table"></i> <span class=" d-none d-sm-inline">Bảng điểm</span></a>
                    </li>
                    <li>
                        <a href="#" data-bs-toggle="collapse" class="nav-link text-dark px-0 align-middle ">
                            <i class="fs-4 bi-bootstrap"></i> <span class=" d-none d-sm-inline">Menu1</span></a>
                    </li>
                    <li>
                        <a href="#" data-bs-toggle="collapse" class="nav-link text-dark px-0 align-middle">
                            <i class="fs-4 bi-grid"></i> <span class=" d-none d-sm-inline">Menu2</span> </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-dark px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class=" d-none d-sm-inline">Menu3</span> </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://png.pngtree.com/png-vector/20220608/ourlarge/pngtree-round-kid-avatar-boy-face-png-image_4919114.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">loser</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>