.row{
    width: 1000px;
    margin-top: 30px;
    margin-left: 130px;
}
input{
    width: 100%;
}
.narrow-column {
    width: 5%;
}
.narrow-column2 {
    width: 10%;
}
.wider1-column {
    width: 11%; 
}

// .wider-column2 {
//     width: 150px; 
// }

